.section--spacing {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    overflow: hidden;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}