$font: (
    "h1": (
        "fz": 40,
        "fw": 700,
        "ls": 1px,
        "lh": 1.5
    ),
    "h2": (
        "fz": 32,
        "fw": 700,
        "ls": 1px,
        "lh": 1.5
    ),
    "h3": (
        "fz": 24,
        "fw": 700,
        "ls": 1px,
        "lh": 1.5
    ),
    "body": (
        "fz": 16,
        "fw": 400,
        "ls": calc(0.04 * 1em),
        "lh": 1.5
    ),
    "note": (
        "fz": 14,
        "fw": 400,
        "ls": calc(0.04 * 1em),
        "lh": 1.2
    )
);
