@use "../variable/variant" as *;

@mixin hover-effect($transition-type) {
    & {
        @if $transition-type == "default" {
            transition:
            background-color 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out,
            color 0.3s ease-in-out,
            border 0.3s ease-in-out,
            text-shadow 0.3s ease-in-out;
        }
        @else {

        }
    }

    &:hover {
        // border: 1px solid var(--dark-blue);
        // background-color: var(--dark-blue);
        // box-shadow: 0px 0px 16px #{rgba(color(common-blue), 0.3)};
        // color: var(--theme-color);
        @content;

        .au_img:has(img.hover) {
            .default {
                opacity: 0;
            }
            .hover {
                opacity: 1;
            }
        }
    }
}

@mixin active-effect() {
    &:active {
        transform: translate(1px, 1px);
    }
}

@mixin element-effect($hover: false, $active: false, $transition-type: "default") {
    & {
        cursor: pointer;
    }

    @if $hover {
        @include hover-effect($transition-type) {
            @content;
        }
    }

    @if $active {
        @include active-effect();
    }
}
