@use "~/assets/scss/core" as *;

.au_btn-more {
    --txt-color: var(--secondary);
    --txt-hover-color: var(--secondary-light);
    --bg-color: #{rgba(au-color(secondary-light), 0.8)};
    --bg-hover-color: var(--secondary);
    --bd-color: var(--secondary);
    --bd-hover-color: var(--secondary-light);
    // --bdra: var(--border-radius-base);
    --hover-shadow: $shadow-secondary;

    .au_btn-inner.au_btn-inner {
        background: linear-gradient(
            to bottom right,
            rgba(au-color(gray-0), 1),
            rgba(au-color(gray-0), 1)
        );
        backdrop-filter: blur(10px);
    }

    &:hover {
        .au_btn-inner {
            background: linear-gradient(
                to bottom right,
                rgba(au-color(primary), 1),
                rgba(au-color(secondary), 1)
            );
        }
    }
}

.au_btn-round {
    --bdra: 40px;
    height: 40px;
}

.au_btn-filter.au_btn-filter {
    --txt-color: var(--secondary);
    --txt-hover-color: var(--secondary-light);
    --bg-color: #{rgba(au-color(secondary-light), 0.8)};
    --bg-hover-color: var(--secondary);
    --bd-color: var(--secondary);
    --bd-hover-color: var(--secondary-light);
    // --bdra: var(--border-radius-base);
    --hover-shadow: $shadow-secondary;

    min-width: auto;
}

.au_btn-secondary {
    --txt-color: var(--secondary);
    --txt-hover-color: var(--secondary-light);
    --bg-color: #{rgba(au-color(secondary-light), 0.8)};
    --bg-hover-color: var(--secondary);
    --bd-color: var(--secondary);
    --bd-hover-color: var(--secondary-light);
    // --bdra: var(--border-radius-base);
    --hover-shadow: $shadow-secondary;
    .au_btn-inner.au_btn-inner {

    }
    
}