@use "~/assets/scss/core" as *;

.au_btn-more {
    --txt-color: var(--secondary);
    --txt-hover-color: var(--secondary-light);
    --bg-color: #{rgba(au-color(secondary-light), 0.8)};
    --bg-hover-color: var(--secondary);
    --bd-color: var(--secondary);
    --bd-hover-color: var(--secondary-light);
    // --bdra: var(--border-radius-base);
    --hover-shadow: $shadow-secondary;

    .au_btn-inner.au_btn-inner {
        background: linear-gradient(
            to bottom right,
            rgba(au-color(gray-0), 1),
            rgba(au-color(gray-0), 1)
        );
        backdrop-filter: blur(10px);
    }

    &:hover {
        .au_btn-inner {
            background: linear-gradient(
                to bottom right,
                rgba(au-color(primary), 1),
                rgba(au-color(secondary), 1)
            );
        }
    }
}

.au_btn-round {
    --bdra: 40px;
    height: 40px;
}

.au_btn-border {
    --txt-color: #fff;
    --txt-hover-color: #fff;
    --bg-color: transperent;
    --bg-hover-color: transperent;
    --bd-color: #fff;
    --bd-hover-color: transperent;
    height: 50px;

    .au_btn-inner {
        height: 100%;
        overflow: hidden;
    }

    .au_btn-txt {
        font-size: px-to-rem(18);
    }

    .au_btn-icon {
        width: 15px;
    }

    &:hover {
        .au_btn-inner {
            gap: 1rem;
            // border: 1px solid transparent;
            // background:
            //     radial-gradient(circle at 50% -100px, rgba(#f4efff, 0.9) 0, rgba(#cdb3ff, 0) 100%)
            //         padding-box,
            //     linear-gradient(135deg, #A8AAFF, #6C6EC5, #FFFFFF) border-box;
            &::before {
                background: radial-gradient(
                    circle at 50% -100px,
                    rgba(#f4efff, 0.9) 0,
                    rgba(#cdb3ff, 0) 100%
                );
                opacity: 0.5;
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 8px;
                padding: 1px;
                background: linear-gradient(
                    135deg,
                    #a8aaff 0%,
                    #6c6ec5 40%,
                    rgba(#ffffff, 0.6) 100%
                );
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
            }
        }
    }

    &.au_btn-border-primary {
        --txt-color: #444574;
        --txt-hover-color: #fff;
        --bg-color: transperent;
        --bg-hover-color: transperent;
        --bd-color: #7274c9;
        --bd-hover-color: #a2a3e2;

        &:hover {
            .au_btn-inner {
                &::before {
                    background: radial-gradient(
                        circle at 50% -10px,
                        rgba(#ceb5ff, 1) 0,
                        rgba(#442b76, 1) 80%
                    );
                    opacity: 0.3;
                }

                &::after {
                    display: none;
                }
            }
        }
    }
}

.au_btn-connect {
    --bg-color: rgba(255, 255, 255, 0.1);
    --bg-hover-color: rgba(255, 255, 255, 0.6);
    --txt-color: #fff;
    --bd-color: transparent;

    // -webkit-backdrop-filter: blur(4px);
    // backdrop-filter: blur(4px);

    .au_btn-inner {
        padding: 0 20px;
        height: 100%;
    }

    .au_btn-txt {
        font-size: px-to-rem(18);
    }

    &:hover {
        .au_btn-inner {
            background: radial-gradient(
                circle at top center,
                rgba(#fff, 0.6) 0,
                rgba(#d5d6ff, 0.6) 100%
            );
        }
    }
}

// .au_btn-style-primary {
//     --txt-color: var(--primary-0);
//     --txt-hover-color: var(--primary-0);
//     --bg-color: var(--primary-4);
//     --bg-hover-color: var(--primary-color);
//     --bd-color: var(--primary-4);
//     --bd-hover-color: var(--primary-color);
// }

// .au_btn-style-small {
//     .au_btn-inner {
//         padding: 0.3rem 1rem;
//         gap: 0.3rem;
//     }
// }

// .au_btn-style-primary-border {
//     --txt-color: #{au-color(primary)};
//     --txt-hover-color: #{au-color(primary)};
//     --bg-color: #fff;
//     --bg-hover-color: #{au-color(primary-light)};
//     --bd-color: #{au-color(primary)};
//     --bd-hover-color: #{au-color(primary)};
//     // --bdra: #{$border-radius-base};
//     --hover-shadow:
//         2px 2px 8px rgba(au-color(primary), 0.1), 1px 1px 2px rgba(au-color(primary), 0.1),
//         -1px -1px 2px rgba(au-color(primary), 0.1);
// }
// .au_btn-style-secondary-border {
//     --txt-color: #{au-color(secondary)};
//     --txt-hover-color: #{au-color(secondary)};
//     --bg-color: #fff;
//     --bg-hover-color: #{au-color(secondary-light)};
//     --bd-color: #{au-color(secondary)};
//     --bd-hover-color: #{au-color(secondary)};
//     --hover-shadow:
//         2px 2px 8px rgba(au-color(secondary), 0.1), 1px 1px 2px rgba(au-color(secondary), 0.1),
//         -1px -1px 2px rgba(au-color(secondary), 0.1);
// }
// .au_btn-style-tertiary {
//     --txt-color: #{au-color(tertiary-light)};
//     --txt-hover-color: #{au-color(tertiary)};
//     --bg-color: #{au-color(tertiary)};
//     --bg-hover-color: #{au-color(tertiary-light)};
//     --bd-color: #{au-color(tertiary)};
//     --bd-hover-color: #{au-color(tertiary)};
//     --hover-shadow:
//         2px 2px 8px rgba(au-color(tertiary), 0.1), 1px 1px 2px rgba(au-color(tertiary), 0.1),
//         -1px -1px 2px rgba(au-color(tertiary), 0.1);
// }
