@use "~/assets/scss/core" as *;

.section-home_hero {
    position: relative;
    height: 100dvh;

    color: var(--gray-0);
    overflow: hidden;
    .container {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-hello {
    font-size: clamp(24px, set-vw(32, 1920), 32px);

    @include rwd-mobile() {
        font-size: clamp(18px, set-vw(24, 768), 24px);
    }
}

.hero-title {
    font-size: clamp(40px, set-vw(48, 1920), 48px);
    white-space: nowrap;
    @include rwd-mobile() {
        font-size: clamp(24px, set-vw(40, 768), 40px);
    }
}

.hero-subtitle {

    font-size: clamp(24px, set-vw(32, 1920), 32px);
    @include rwd-mobile() {
        font-size: clamp(18px, set-vw(24, 768), 24px);
    }

    &-text {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &-number {
        font-size: 1.2em;
        color: var(--tertiary);
    }
}

.color-blob {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.6;
    mix-blend-mode: screen;
    &-1 {
        width: set-vw(500, 1920);
        aspect-ratio: 1 / 1;
        background: radial-gradient(circle, var(--primary), var(--primary-dark));
        top: 20%;
        left: 10%;
    }
    &-2 {
        width: set-vw(450, 1920);
        aspect-ratio: 1 / 1;
        background: radial-gradient(circle, var(--secondary), var(--secondary-dark));
        bottom: 20%;
        right: 15%;
    }
    &-3 {
        width: set-vw(400, 1920);
        aspect-ratio: 1 / 1;
        background: radial-gradient(circle, var(--tertiary), var(--tertiary));
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.3;
    }
    &-4 {
        width: set-vw(350, 1920);
        aspect-ratio: 1 / 1;
        background: radial-gradient(circle, var(--primary), var(--secondary));
        top: 10%;
        right: 20%;
    }
}


.particles {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

:deep(.particle) {
    position: absolute;
    @include circle(4px);
    background: white;
    opacity: 0.6;
}
