@use "~/assets/scss/core" as *;

.section-projects_filters {
    &-bd {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.filters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include media-down(1024) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include rwd-mobile() {
        grid-template-columns: repeat(1, 1fr);
    }
}

.project-item {
    min-width: 0;
}